<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<div class="container">
    <h1>User, welcome spring boot security page!</h1>
    <h2>Your Profile:</h2>
    <div>
        <h5>Username: <span th:text="${user.username}"></span></h5>
        <p>Email: <span th:text="${user.email}"></span></p>
        <p>Phone: <span th:text="${user.phone}"></span></p>
        <p>Roles:
        <ul>
            <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
        </ul>
        </p>
    </div>
    <a href="#" th:href="@{/logout}">Log Out</a>
</div>
</body>
</html>